# Byte-code
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Environment files
.env
*.env

# IDE/editor settings
.vscode/
.idea/

# Logs and temporary files
*.log
logs/
tmp/
*.pid

# OS files
.DS_Store
Thumbs.db

# Database files
*.sqlite3

# Selenium dumps
*.png
*.html

# Ignore image files created by screenshots
*.jpg
*.jpeg
*.bmp
*.gif

# Pip cache
pip-log.txt

# Ignore Files folder and all its contents
Files/
